repos:
  - repo: https://github.com/hukkin/mdformat
    rev: 1.0.0  # Use the ref you want to point at
    hooks:
      - id: mdformat
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.21.2
    hooks:
      - id: pyupgrade
        args: [ "--py310-plus" ]
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.14.14
    hooks:
      # Run the linter.
      - id: ruff
      # Run the formatter.
      - id: ruff-format
