[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.poetry]
name = "exchange-calendars-extensions"
version = "0"
description = "Extensions of the exchange-calendars package"
license = "Apache-2.0"
authors = ["Jens Keiner <jens.keiner@gmail.com>"]
readme = "README.md"
homepage = "https://github.com/jenskeiner/exchange_calendars_extensions/"
repository = "https://github.com/jenskeiner/exchange_calendars_extensions/"
documentation = "https://github.com/jenskeiner/exchange_calendars_extensions/tree/main/docs/"
keywords = ["exchange", "calendar", "trading", "holidays"]
classifiers = [
	"Development Status :: 4 - Beta",
    "Programming Language :: Python",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "License :: OSI Approved :: Apache Software License",
    "Intended Audience :: Science/Research",
    "Topic :: Scientific/Engineering",
    "Topic :: Scientific/Engineering :: Mathematics",
    "Operating System :: OS Independent",
]
packages = [{include = "exchange_calendars_extensions"}]

[tool.poetry.dependencies]
python = "~=3.8"
exchange-calendars = ">=4.0.1"
schema = "~=0.7.5"

[tool.poetry.group.dev.dependencies]
pytest = "~=7.3.1"
pytest-cov = "~=4.0.0"

#[tool.pytest.ini_options]
#addopts = "--cov=exchange_calendars_extensions --cov-report=term-missing"
