name: Draft Release

on:
  push:
    branches:
      - develop

permissions:
  contents: read

concurrency:
  group: release-drafter
  cancel-in-progress: false

jobs:
  draft-release-publish:
    name: Draft a new release
    permissions:
      contents: write  # Required to create GitHub release.
      pull-requests: read  # Required to read PR contents.
    runs-on: ubuntu-latest
    steps:
      # Drafts your next Release notes as Pull Requests are merged into "master"
      - uses: release-drafter/release-drafter@6db134d15f3909ccc9eefd369f02bd1e9cffdf97 # v6
        with:
          config-name: release-drafter-config.yml
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
